<footer class="bg-light mt-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Ministère de l'Enseignement Supérieur</a></li>
          <li><a href="#">Direction Générale de la Recherche</a></li>
          <li><a href="#">Algerian Research Network</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Bibliothèques numériques</h5>
        <ul class="list-unstyled">
          <li><a href="#">Science Directe</a></li>
          <li><a href="#">Bibliothèque Numérique Mondiale</a></li>
          <li><a href="#">Maghreb Virtual Science Library</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <address>
          <p>Université Mouloud Mammeri de Tizi-Ouzou</p>
          <p>+213 (0)26 11 56 51</p>
          <p>univ_tizi@ummto.dz</p>
        </address>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
