{% load static %}
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'course_list' %}">
      <img src="{% static 'images/logo.png' %}" alt="UMMTO" height="40" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'course_list' %}">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            Formations
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'courses' %}"
                >Tous les cours</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'certifications' %}"
                >Certifications</a
              >
            </li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            {{ user.username }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}">Mon Profil</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'my_courses' %}"
                >Mes Cours</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary text-white px-3"
            href="{% url 'register' %}"
            >S'inscrire</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
